.venv/
__pycache__/
*.pyc

data_raw/*.csv

dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/database/*.duckdb
dbt_project/database/*.duckdb.wal
dev.duckdb

dbt_project/.user.yml
*.log

.env
.vscode/settings.json
